h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#mainForm {
    flex: 1;
}

.body-content {
    margin: 0 auto;
    width: 80vw;
}

/* Button */
.button-primary {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color) !important;
    border: none;
    border-radius: 5px;
    color: #ffffff !important;
    transition: 0.3s ease-out;
}

.button-primary h3 {
    margin-left: 0.5rem !important;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.button-primary:hover {
    background-color: var(--primary-color-hover) !important;
}

.button-primary:active {
    background-color: var(--primary-color-active) !important;
}

.button-secondary {
    padding: 0.4rem 0.9rem;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    transition: 0.3s ease-out;
}

.button-secondary:hover {
    border: 2px solid var(--primary-color-hover);
    color: var(--primary-color-hover);
}

.button-secondary:active {
    border: 2px solid var(--primary-color-active);
    color: var(--primary-color-active);
}

.button-small {
    padding: 0.5rem 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    transition: 0.3s ease-out;
}

.button-small:hover {
    border: 2px solid var(--primary-color-hover);
    color: var(--primary-color-hover);
}

.button-small:active {
    border: 2px solid var(--primary-color-active);
    color: var(--primary-color-active);
}



/* Tooltip */
.tool-tip {
    margin-top: 5rem;
    padding: 0 0.5rem;
    position: absolute;
    visibility: hidden;
    background-color: var(--primary-color-hover);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    z-index: 1;
}



/* Notification restyling */
.notification {
    display: none;
    position: fixed;
    top: 65%;
    right: 3%;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    width: 300px;
    background-color: var(--primary-color);
    border-radius: 6px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4) !important;
    transition: opacity 0.1s linear;
}


/* Dropdown */
/* Custom Dropdowns */
.dropdown {
    position: relative;
    border: none;
    font-family: 'Rubik', Arial, sans-serif;
}

.dropdown select {
    display: none; /*hide original SELECT element */
}

/* Style the arrow inside the select element */
.dropdown-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active) */
.dropdown-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* Style selected item and same-as-selected option */
.dropdown-selected {
    padding: 8px 16px;
    color: #ffffff;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.same-as-selected {
    color: #ffffff !important;
    background-color: var(--primary-color-hover) !important;
}

/* Style items (options) */
.dropdown-items {
    position: absolute;
    background-color: var(--primary-color);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.dropdown-items div {
    padding: 8px 16px;
    color: var(--primary-color);
    background-color: #ffffff;
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;
}

.dropdown-items div:hover {
    color: var(--primary-color-hover);
}

.dropdown-items div:active {
    color: var(--primary-color-active);
}

/* Hide the items when the select box is closed */
.dropdown-hide {
    display: none;
}



/* Dictionary Header */
.dictionary-header {
    padding: 1.5rem 0 1rem 0;
}

.dictionary-header-text {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    font-family: 'Mitr', Arial, sans-serif;
    font-size: 40px;
}

.dictionary-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
}

#entryCountText {
    font-family: 'Rubik', Arial, sans-serif;
}

.dictionary-controls {
    display: flex;
    flex-direction: row;
}

.search-bar {
    flex: 0.7;
    display: flex;
    flex-direction: row;
}

#ddlSort {
    flex: 0.20;
    margin-right: 1rem;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: #323232;
    outline: none;
    transition: 0.3s ease-out;
    cursor: pointer;
}

#ddlSort:hover {
    border: 2px solid var(--primary-color-hover);
    box-shadow: 0 0 0 1px var(--primary-color-hover);
}

#ddlSort:active {
    border: 2px solid var(--primary-color-active);
    box-shadow: 0 0 0 1px var(--primary-color-active);
}

#divFilterDdl {
    flex: 0.20;
}

#txtSearch {
    flex: 0.55;
    margin-left: -1px;
    padding: 0 1rem;
    border: 1px solid var(--primary-color);
}

#txtSearch:focus {
    box-shadow: inset 0 0 0 1px var(--primary-color);
    outline: none;
}

#lnkSearch {
    flex: 0.05;
    margin-left: -2px;
    background-color: var(--primary-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #ffffff !important;
}

#lnkSearch:hover {
    background-color: var(--primary-color-hover);
}

#lnkSearch:active {
    background-color: var(--primary-color-active);
}

#btnReport {
    position: relative;
}

.dictionary-buttons {
    flex: 0.3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1rem;
    color: var(--primary-color);
}



/* Dictionary Container */
.dictionary-container {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    height: 65vh;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.dictionary-container::-webkit-scrollbar {
    width: 6px;
    background-color: #f2f2f2;
    border-left: 1px solid #a2a2a2;
    border-right: 1px solid #a2a2a2;
}

.dictionary-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}
.dictionary-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color-hover);
}
.dictionary-container::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color-active);
}

.dictionary-container::-webkit-scrollbar-button {
    display: none;
}

.dictionary-empty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    color: #525252;
}

.dictionary-empty h4 {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 30px;
}

.dictionary-container > .dictionary-item:first-child {
    margin-top: 1rem;
}

.dictionary-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    background-color: #eaeaea;
}

.dictionary-item-content {
    flex: 0.95;
}

.dictionary-item-title {
    padding-bottom: 0.2rem;
    color: var(--primary-color);
}

.dictionary-item-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-title {
    margin: 0;
    padding: 0.2rem 0;
    flex: 0.1;
    color: #323232;
    font-weight: 500;
}

.content-text {
    margin: 0;
    padding: 0.2rem 0;
    flex: 0.9;
    color: var(--primary-color);
    font-weight: 400;
    word-break: break-word;
}

.dictionary-item-controls {
    flex: 0.05;
    display: flex;
    flex-direction: column;
}

.button-delete {
    margin-top: auto;
    padding: 0.1rem 0.5rem;
}

/* Modals */
.modal-window {
    display: none;
    position: fixed;
    align-items: center;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    width: 50%;
    padding: 2rem 5rem 1rem 5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
    overflow-y: initial;
    animation: slideIn .3s ease-out forwards;
}

.modal-content {
    width: 100%;
    height: 100%;
}

.modal-header {
    display: flex;
    padding-bottom: 0.5rem;
    flex-direction: row;
    align-items: center;
    color: var(--primary-color);
}

.modal-icon {
    flex: 0.07;
    font-size: 24px;
}

.modal-title {
    flex: 0.88;
    text-align: left;
}

.modal-btn-close {
    flex: 0.05;
    background-color: white;
    border: none;
    color: #323232;
    font-size: 28px;
    transition: ease-out 0.1s;
}

.modal-btn-close:hover {
    color: #828282;
}

.modal-btn-close:active {
    color: #b2b2b2;
}

.modal-body {
    height: 60vh;
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.modal-title {
    color: var(--primary-color);
    font-size: 26px;
    font-family: 'Mitr', Arial, sans-serif;
    font-weight: 500;
}

.modal-empty {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #eaeaea;
}

.modal-empty i {
    color: #525252;
    font-size: 40px;
}

.modal-empty h1 {
    margin: 0;
    color: #525252;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 30px;
}

.modal-item {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #eaeaea;
}

.modal-item h2 {
    color: var(--primary-color);
    font-size: 18px;
    word-break: break-word;
}

.modal-item h3 {
    color: var(--primary-color);
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 14px;
    word-break: break-word;
}

.modal-item h4 {
    padding-top: 0.4rem;
    color: #323232;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 14px;
    word-break: break-word;
}

.modal-item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
}

.modal-item-row small {
    flex: 0.9;
    color: #323232;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.modal-item-btn {
    flex: 0.1;
    display: flex;
    align-self: flex-end;
    padding: 0 0.4rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    border-radius: 4px;
    font-family: 'Rubik', Arial, sans-serif;
    transition: all 0.2s ease-out;
}

.modal-item-btn:hover {
    border-color: var(--primary-color-hover);
    color: var(--primary-color-hover);
}

.modal-item-btn:active {
    border-color: var(--primary-color-active);
    color: var(--primary-color-active);
}

.modal-inputfield {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: 500;
}

.modal-dropdown {
    padding: 0.5rem 1rem;
    width: 50%;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    cursor: pointer;
}

.modal-dropdown:focus {
    box-shadow: 0 0 0 1px var(--primary-color);
    outline: none;
}

.modal-textinput {
    padding: 0.5rem 1rem;
    resize: none;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
}

.modal-textinput:focus {
    box-shadow: 0 0 0 1px var(--primary-color);
}

.modal-footer {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    padding: 1rem 0;
    color: var(--primary-color);
    font-family: 'Rubik', Arial, sans-serif;
    word-spacing: 0.2rem;
}

/* Report Modal */
#dlgReport {
    width: 40%;
    height: 70%;
}

#divReportModalBody {
    padding: 1rem 0.1rem;
    display: grid;
    grid-template-rows: 0.3fr 0.7fr;
}

#ddlReportCategory {
    width: 60%;
}

/* Suggestion Modal */
#dlgSuggestion {
    width: 50%;
    height: 80%;
}

#divSuggestionModalBody {
    padding: 1rem 0.1rem;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.3fr 0.3fr 0.4fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}

#divDdlLanguage {
    grid-column: auto / span 1;
    width: 100%;
}

#ddlLanguage {
    width: 100%;
}

#divTxtExample {
    grid-column: auto / span 2;
    width: 100%;
}

/* Confirmation Modal */
#dlgConfirmation {
    width: 30%;
    height: 50%;
}

#dlgConfirmation .modal-header {
    column-gap: 1rem;
}

.modal-dialog-message {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
}



@keyframes slideIn {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 992px) {
    .dictionary-header .header-search {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .dictionary-header .header-search .search-box {
        width: 60%;
    }
}

@media screen and (max-width: 560px) {
    .dictionary-header .header-search .search-box {
        width: 50%;
    }
}

@media screen and (max-width: 468px) {
    .dictionary-header .header-search {
        flex-direction: column;
        align-items: flex-start;
    }

    .dictionary-header .header-search .search-box {
        width: 100%;
    }

    .dictionary-header .header-search .add-suggest {
        margin-top: 20px;
    }
}

@media screen and (max-width: 492px) {
    .dictionary-container .dictionary-item .item-content {
        flex-direction: column;
    }

    .dictionary-container .dictionary-item .item-content .left-item {
        width: 100%;
    }

    .dictionary-container .dictionary-item .item-content .right-item {
        width: 100%;
    }
}