* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

/* Notification */
.notification {
    display: none;
    position: fixed;
    top: 3rem;
    right: 3rem;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    width: 300px;
    background-color: #d35555;
    border-radius: 6px;
}

.notification:hover {
    cursor: pointer;
    opacity: 70%;
    transition: opacity 0.1s linear;
}

.notification-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
}

.notification-title h4 {
    padding-left: 0.5rem;
    font-family: 'Mitr', Arial, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}

.notification-message {
    padding-top: 0.4rem;
    width: 100%;
    color: white;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    word-wrap: break-word;
}

ul.notification-message {
    margin-left: 1rem;
    font-size: 12px;
}

.notification-tip {
    display: block;
    padding-top: 1rem;
    color: white;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
}

/* Animated Link Text */
.gray-animated-link-text {
    display: inline-block;
}

.gray-animated-link-text::after {
    content: '';
    width: 0px;
    height: 1.5px;
    display: block;
    background: #323232;
    transition: 300ms;
}

.gray-animated-link-text:hover::after {
    width: 100%;
}

.red-animated-link-text {
    display: inline-block;
}

.red-animated-link-text::after {
    content: '';
    width: 0px;
    height: 1.5px;
    display: block;
    background: #d35555;
    transition: 300ms;
}

.red-animated-link-text:hover::after {
    width: 100%;
}
