* {
    --listItem-bg-color: #EAEAEA;
    --actionMenu-bg-color: #F5F5F5;
    --theme-black: #323232;
}

.container {
    max-width: none;
    width: 100vw;
    height: 110vh;
    margin: 0;
    padding: 0;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    height: 110vh;
    padding: 2em 0;
    margin: 0 5rem;
}

.contentContainer {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.leftContainer {
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

.rightContainer {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

/* Left container css */
/* Left container css */
/* Left container css */

/* Search Container */
/* Search Container */
/* Search Container */
.searchContainer {
    display: flex;
    align-items: flex-start;
    margin: 1.5em 0;
}

.filterContainer h6, .searchBarContainer h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    margin-right: 2em;
}

.searchBarContainer {
    display: flex;
    flex-direction: column;
    flex: 0.8;
}

.cboFilter, .txtSearch {
    padding: 1em 1em;
    height: 2em;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.cboFilter:focus, .txtSearch:focus {
    border: 3px solid var(--primary-color);
 }

/* listItemContainer */
/* listItemContainer */
/* listItemContainer */
.listItemContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.listItem {
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    margin-top: 1em;
    background: var(--listItem-bg-color);
    border-radius: 5px;
    cursor: pointer;
}

.listItem:first-child {
    margin-top: 0;
}

.listItem:hover {
    background: rgba(var(--listItem-bg-color, 0.6));
}

.topRow {
    display: flex;
    margin-bottom: 1em;
}

.itemDetail {
    display: flex;
    flex-direction: column;
    font-size: small;
    overflow: hidden;
}

.topRow .itemDetail {
    flex: 0.2;
}

.bottomRow .itemDetail {
    flex: 1;
}

.itemDetail span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemDetail span:first-child{
    font-weight: bold;
}

/* Right container */
/* Right container */
/* Right container */
.actionMenuWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    overflow: hidden;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    max-height: 95%;
    width: 100%;
    background: var(--actionMenu-bg-color);
    border-radius: 5px;
    padding: 1.5em 1.5em 2em;

}

.buttonContainer {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em
}

.detailContainer {
    overflow-y: auto;
    margin-bottom: 1em;
}

.detailContainer .itemDetail {
    margin-bottom: 2em;
}

.detailContainer .itemDetail h6 {
    margin: 0;
    font-size: smaller;
    color: var(--primary-color);
}

.detailContainer .itemDetail span {
    font-size: medium;
    font-weight: 500;
    word-break: break-word;
}

#btnAccept, #btnReject{
    flex: 0.5;
}

#btnAccept {
    margin-right: 1em;
}

#btnEdit {
    flex: 1;
}

/* Main content complete */
/* Main content complete */
/* Main content complete */


/* Edit Modal content */
/* Edit Modal content */
/* Edit Modal content */
#modalWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 110vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
}

.modalBody {
    width: 50%;
    max-height: 70%;
    background: var(--theme-white);
    border-radius: 5px;
    padding: 1.5em 2em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}